{% extends 'base.html'%}

{% block title %}contact{% endblock title %}

{% block body %}
<div class="container-fluid mb-3 px=0">
<img src="https://images.unsplash.com/photo-1557200134-90327ee9fafa?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D mx=0 width="600"  height="1000" "  class="d-block w-100" alt="...">
</div>
<div class="container mb-3 py-4 ">
<h3 class="text-center">Contact us</h3>
<form method="POST" action="/contact">
     {% csrf_token %}
  <div class="mb-3">
    <label for="namme" >name</label>
    <input type="text" class="form-control" id="name" name="name" placeholder="Enter your name">
  </div>
  <div class="mb-3">
    <label for="email" class="form-label">Email address</label>
    <input type="email" class="form-control" id="email" name="email" placeholder="Enter your email">
  </div>
  <div class="mb-3">
    <label for="email" class="form-label">phone no.</label>
    <input type="phone" class="form-control" name="phone" id="phone" placeholder="Enter your phone no.">
  </div>
  <div class="mb-3">
    <label for="exampleInputPassword1" class="form-label">Password</label>
    <input type="password" class="form-control" id="exampleInputPassword1">
  </div>
  <div class="mb-3 form-group">
    <label for="desc" >Tell me about what you want to contact us for</label>
   <textarea class ="form-control" id="desc" rows="3" name="desc"></textarea>  
</div>
  
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
</div>
{% endblock body %}
